.App {
  text-align: center;
  /* font-size: calc(15px + 2vmin); */
    font-size: calc(20px);
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}
.centerChildren{
  display: flex
}


.greeting div{
  display: inline-block;
}
#wrapper::-webkit-scrollbar {
    display: none; /* for Chrome, Safari and Opera */
}
#wrapper{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}